:root{
    --color-primary:#469165;
    --color-heading:#001931;
    --color-nav:#001931;
    --color-text:#627382;
    --color-white:#fff;
}

* {
  font-family: "Inter", sans-serif;
}

html, body{
    font-weight:400;
    margin:0px;
    padding:0px;
}

body{
    background-color: #FBFBFB;
    font-size:16px;
    color:#627382;
    line-height:1.6em;
    font-weight:400;
}

.container{
    max-width:1200px;
    margin:0 auto;
    padding:0px 20px;
}

h1,h2,h3{
    font-weight: 700;
    color:#001931;
    margin:0 0 15px;
    line-height:1.1em;
}

.btn{
    padding:11px 16px;
    background:var(--color-primary);
    color:var(--color-white);
    border-radius:4px;
    border:1px solid var(--color-primary);
    line-height: 18px;;
    cursor:pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size:15px;
    font-weight:400;
    
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .15);
}

.btn:hover{
    background:#3b7f5a;
    box-shadow:0 10px 20px 0px rgba(0,0,0,.15)
}

.btn-secondary{
    background:transparent;
    border-color:var(--color-white);
}
.btn-secondary:hover{
    background:var(--color-primary);
    border-color:var(--color-primary);
}

h1{
    font-size:72px;
}

h2{
    font-size:48px;
}

h3{
    font-size:24px;
}

header{
    padding:10px 0
}

header .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav.main-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    list-style: none;
}

nav.main-menu ul li a{
    color:var(--color-nav);
    transition: all 0.3s ease;
    text-decoration: none;
}

nav.main-menu ul li a:hover{
    color:var(--color-primary);
}

section.hero-section {
    padding: 120px 0px;
    text-align: center;
    color: #fff;
    background-image: url('../images/hero-bg.png');
}

.hero-section .container {
    max-width: 800px;
}



h1.hero-title {
    color: var(--color-white);
    margin-top:15px;
}

h1.hero-title span {
    display: block;
    color: #30AC66;
}


.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-group .btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.btn-group .btn img {
    width: 20px;
}

.small-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;
    background: var(--color-white);
    flex-direction: row;
    flex-wrap: nowrap;
    width: 200px;
    margin: 0 auto;
    color: #000;
    font-size: 14px;
    border-radius: 25px;
    gap: 12px;
    line-height: 14px;
}

span.dotcircle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: var(--color-primary);
    border: 4px solid #9FC6AF;
    box-shadow: 0 0 0px 5px #DAE9E0;
}

section.feature-section {
    padding: 80px 0;
    text-align: center;
}

.feature-box-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.feature-box {
    padding: 30px 24px;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .15);
    transition: all 0.3s ease;
}

.feature-box:hover {
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, .15);
}

.feature-box img {
    width: 25px;
    height: 25px;
    background: #F95555;
    border-radius: 50%;
    padding: 15px;
}

h3.feature-title {
    margin: 10px 0 10px;
    font-weight: 600;
}

p.feature-description {
    font-size: 15px;
    line-height: 1.4;
}

section.solution-section {
    background: #fff;
    padding: 80px 0px;
}

.solution-img img {
    border-radius: 10px;
}

section.solution-section .container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.subtitle {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom:10px;
}

ul.solution-features {
    list-style: none;
    padding: 0px;
}

ul.solution-features li {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 5px;
    line-height: 1.4em;
    margin-bottom: 10px;
    color: var(--color-heading);
}

section.cta-section {
    background: #fff;
    text-align: center;
    padding: 0 0 80px;
}

.cta-content {
    background: #F7F6F2;
    padding: 80px;
    border-radius: 10px;;
}

.cta-content .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto 5px;
    gap: 10px;
    max-width: 155px;
}

.cta-points {
    font-size: 15px;
}

footer.footer-section {
    background: var(--color-heading);
}

.footer-top {
    padding: 60px 0px;
}

.footer-top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

h4.widget-title {
    margin: 0 0 15px;
    color: var(--color-white);
    font-weight: 400;
}

.footer-social a {
    width: 24px;
}

.footer-social a img {
    width:100%;
}

.footer-social a {
    display: inline-block;
    margin-right:5px;
}

.footer-copyright {
    padding: 20px 0px;
    text-align: center;
    color: var(--color-white);
    background: var(--color-heading);
    border-top: 1px solid rgba(255,255,255, .15);
    font-size:14px;
}